@tailwind base;
@tailwind components;
@tailwind utilities;
/* Keyframes for the circular movement */
@keyframes rotate {
  0% { transform: translateX(0) translateY(0) rotate(0deg); }
  100% { transform: translateX(0) translateY(0) rotate(360deg); }
}

.circle-animation {
  animation: rotate 14s infinite linear; /* Adjust animation duration and easing as needed */
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
